<div class='wrapper'>
  <!--Banner-->
  <div class="banner">
    <div>
      <h1>DON'T LOOK FOR IT, JUST FIND IT</h1><br>
      <p>Find a reliable service provider based on community's recommendations</p><br><br>
      <a href="#scroll" class="btn-work">How it works</a>
    </div>
  </div>
</div>

  <div class='separation' id="scroll"></div>

  <div class="discover text-center">
    <h3>Designed for you</h3>
    <img src=<%= asset_path 'WORDOF_logo.png' %>>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <div class="top quickness">
            <h1>QUICKNESS</h1>
          </div>
          <div class="bottom">
            <p>Find in one click the provider you were looking for so long</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <div class="top proximity">
            <h1>PROXIMITY</h1>
          </div>
          <div class="bottom">
            <p >They're not that far. Find your next provider next to your home</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <div class="top trust">
            <h1>TRUST</h1>
          </div>
          <div class="bottom">
              <p>Relax. If the community recommend them, they should be great</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="banner-subscribers text-center">
        <div class="message">
          <h1>YOU DESERVE IT TOO</h1><br><br>
          <h3>5000 reliable services providers recommended</h3>
          <h3>7000 trustable users</h3><br><br>
          <button type="button" class="btn btn-danger">I want to join too !!!</button>
        </div>
        <div class="socialnetworks">
          <div class="facebook social text-center">
            <h1>Facebook</h1><br>
            <a href="https://www.facebook.com/wordofpage/" target="_blank"><i class="fa fa-facebook-square fa-5x" id='fa-font'></i></a>
          </div>
          <div class="instagram social text-center">
            <h1>Instagram</h1><br>
            <a href="https://www.instagram.com/_wordof_/" target="_blank"><i class="fa fa-instagram fa-5x" id='fa-font'></i></a>
          </div>
          <div class="linkedin social text-center">
            <h1>LinkedIn</h1><br>
            <a href="https://www.linkedin.com/company/6652621?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A6652621%2Cidx%3A2-2-3%2CtarId%3A1459932317123%2Ctas%3Awordo" target="_blank"><i class="fa fa-linkedin-square fa-5x" id='fa-font'></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid">
    <div class="row">
      <div class="testimonialpic" style="background-image:url(<%= image_path 'Leonardo.png' %>);"></div>
      <div class="testimonialtext">
        <p>"When I moved in Brussels, I was looking for a good doctor who speaks my language. In less than a minute, I found and contacted the guy who is in charge of the whole family now. He's that good I decided to recommend him as well"</p>
      </div>

      <div class="testimonialpic" style="background-image:url(<%= image_path 'Boy.png' %>);"></div>
      <div class="testimonialtext">
        <p>"I wasn't happy with my dentist. It hurts a lot and he didn't care about me when I told him it was very very very painful. I asked my mother for another one. It's still a dentist, but miss Cynthia is really nice and it hurts less now. I also receive candies after"</p>
      </div>

      <div class="testimonialpic" style="background-image:url(<%= image_path 'Mother.png' %>);"></div>
      <div class="testimonialtext">
        <p>"I decided to buy a flat in Brussels and... it was a disaster. I did a mistake by contacting an architect and an entrepreneur I don't know. It was a mess !!! A friend of mine told me to go on WORDOF and I contacted a very creative and professional architect who knows lot of good handymans ! My flat is so beautiful now</p>
      </div>
    </div>
    <div class="row">
      <div class="testimonialtext">
        <p>"I cannot spend any money on advertising as it is forbidden in Belgium. All the clients I have are from word of mouth. Now with WORDOF, there is finally a platform that allows me to ad without doing anything else but my job ! And I must admit, I just had to hire a new lawyer to help me in my firm"</p>
      </div>
      <div class="testimonialpic" style="background-image:url(<%= image_path 'Lawyer.png' %>);"></div>

      <div class="testimonialtext">
        <p>"After 10 years in the porn industry, I decided to switch career and to become a web developper. It was difficult to switch because of all the invoices I have to pay. I decided to go on WORDOF and I got contacted by friends of a guy who was happy about the website I delivered. Now I know I can leave porn to be 100% focus on coding as I have enough customers</p>
      </div>
      <div class="testimonialpic" style="background-image:url(<%= image_path 'Filzi.jpg' %>);"></div>

      <div class="testimonialtext">
        <p>Being a freelancer is very difficult and heavy in Belgium because of the taxes. I need A LOT of customers to survive and everybody thinks I try to fraud them as I'm an electrcician. I don't have the money or the time to make ads or improve my image but thanks to WORDOF I get recommended by happy customers and contacted by people who already trust me</p>
      </div>
      <div class="testimonialpic" style="background-image:url(<%= image_path 'electrician.jpg' %>);"></div>
    </div>
  </div>
</div>
