<div class="container" style="margin-top: 35px">

  <div class="row" style='margin-top: 20px'>
    <div class="col-xs-12 col-sm-12" style="text-align: center;">
      <h1>Hey there!</h1>
      <h3>What do you want to do next?</h3>
    </div>
  </div>

  <div class="container" style="margin-top: 35px">
    <div class="row">

      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <div class="topcrd search">
            <p>Ready to find trusted service providers?</p>
          </div>
          <div class="bottomcrd">
            <h3><%= link_to "Go to search", root_path, id: 'textcrd' %></h3>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <div class="topcrd user">
            <p>Tell us a bit more about yourself?</p>
          </div>
          <div class="bottomcrd">
            <h3><%= link_to "Edit your user profile", edit_user_path(@user), id: 'textcrd' %></h3>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <div class="topcrd professional">
            <p>Get listed as a service provider?</p>
          </div>
          <div class="bottomcrd">
            <h3><%= link_to "Create professional profile", new_user_professional_path(@current_user), id: 'textcrd' %></h3>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12" style="text-align: center;">
      <p><%= link_to "Delete profile", user_path(@user), method: :delete %> | <%= link_to "Go to homepage", root_path %></p>
    </div>
  </div>
</div>
