<div class="page-header">
  <h1 class="wordof-color text-center padding">PICK AMONG OUR TRUSTED PROFESSIONALS</h1>
</div>
<div class="container">
  <div class="row active-with-click">
    <% @professionals.each do |professional| %>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <article class="material-card Deep-Orange">
        <h2>
          <span><%= professional.user.name %></span>
          <strong>
            <% if user_signed_in? %>
            <%= professional.recommended_by %> <%= link_to professional_saveds_path(professional), method: :post do %>
            <i class="fa fa-bookmark"></i>
            <% end %>
            <% end %>
          </strong>
        </h2>
        <div class="mc-content">
          <div class="img-container">
            <%= image_tag professional.user.picture , width: "400", height: "400" %>
          </div>
          <div class="mc-description">
            <%= professional.description %>
          </div>
        </div>
        <a class="mc-btn-action">
          <i class="fa fa-bars"></i>
        </a>
        <div class="mc-footer">
          <a class="fa fa-fw fa-mobile" href="tel:<%= professional.phone %> "></a>
          <a class="fa fa-fw fa-envelope" href="mailto:<%= professional.prof_email %>"></a>
          <a class="fa fa-fw fa-map-marker" href=""></a>
          <%= link_to '', professional_path(professional), class: "fa fa-fw fa-info" %>
        </div>
      </article>
    </div>
    <% end %>
  </div>
</div>

<script src="javascript.js"></script>
