<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Create your profile as a service provider</h1>
    <div class="col-md-5">
      <div class="form-box">
        <%= simple_form_for(@professional, :url => user_professional_index_path) do |f| %>
          <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
          <%= f.input :category, placeholder: "Doctor/Lawyer/Handyman" %>
          <%= f.input :specialty, placeholder: "Dentist/Divorce/Plumber" %>
          <%= f.input :languages, placeholder: "English, French, German" %>
          <%= f.input :address, placeholder: "Avenue Louise 6, 1000" %>
          <%= f.input :phone, placeholder: "02 217 83 45" %>
          <%= f.input :prof_email, placeholder: "max@maxco.com" %>
          <%= f.input :recommended_by, :as => :hidden, :input_html => { :value => 0 } %>
          <%= f.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
