<!--   <div class="container"> -->
<div class="container margin-top">

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="profilebanner text-center">
        <h1><span class="username"><%= @professional.user.name %></h3></span> <br><span class= "job"><%= @professional.category %></span></h1>
      </div>
    </div>
  </div>

  <div class="profilecard">
      <%= cl_image_tag @professional.user.picture.url(:bright_face) %>


    <div class="descriptionprofile profiledesc">
      <h2> <i class="fa fa-info"></i> Description</h2>
      <p><%= professional.description %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="profilebanner">
        <h2> <i class="fa fa-plus"></i> Specialisations</h2>
        <p><%= @professional.specialty%></p>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="profilebanner">
        <h2> <i class="fa fa-language"></i> Spoken Languages</h2>
        <p><%= @professional.languages%></p>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="profilebanner">
        <h2> <i class="fa fa-map-marker"></i> Address</h2>
        <p><%= @professional.address%></p>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="profilebanner">
        <h2> <i class="fa fa-mobile"></i> Phone</h2>
        <p><%= @professional.phone%></p>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="profilebanner">
        <h2> <i class="fa fa-envelope"></i> Mail</h2>
        <p><%= @professional.prof_email%></p>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="profilebanner">
        <h2> <i class="fa fa-globe"></i> Map</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8">
      <p><%= link_to "Back to search", root_path %></p>
  </div>

</div>

<script src="javascript.js"></script>
