<div class="container" style="margin-top: 85px">
  <div class="row">

    <div class="col-xs-12 col-sm-8" >
      <div class="banner">
        <%= image_tag "http://res.cloudinary.com/cynthiouss/image/upload/c_scale,w_200/v1459861816/face_10.jpg", {class: "#"} %>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-offset-2 col-sm-8">
          <h3><%= @professional.user.name %></h3>
          <p><%= @professional.category%> - <%= @professional.specialty%></p>
          <p>Speaks <%= @professional.languages%></p>
          <p>Located at <%= @professional.address%></p>
        </div>
      </div>
    </div>

    <div class="general">
      <h3>Services & experience</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod nam sequi explicabo, quasi dicta nostrum ipsa minus, maiores dolorem culpa. Vel culpa est ducimus modi soluta, in eum quo nisi eos debitis, architecto atque similique quis quidem possimus veritatis omnis fugit incidunt adipisci sequi corporis, dolores, placeat dolorem ea! Cum quidem dolores pariatur iure dicta id, suscipit eos, possimus provident.</p>
    </div>

  </div>
</div>
